[
  {
    "name": "gamerant",
    "source_url": "https://gamerant.com/genshin-impact-redeem-code-livestream-codes-free-primogem-redemption/",
    "root_selector": ".article-body",
    "divider": " - ",
    "list_selectors": [
      ".content-block-regular ul"
    ]
  },
  {
    "name": "pockettactics",
    "source_url": "https://www.pockettactics.com/genshin-impact/codes",
    "root_selector": ".category-genshin-impact",
    "divider": " – ",
    "list_selectors": [
      ".post-6906 ul"
    ]
  },
  {
    "name": "vg247",
    "source_url": "https://www.vg247.com/genshin-impact-codes",
    "root_selector": ".article_body_content",
    "divider": ": ",
    "list_selectors": [
      "#codes + ul",
      "#codes + p + ul",
      "#livestream + ul",
      "#livestream + p + ul",
      "#livestream-codes + ul",
      "#livestream-codes + p + ul"
    ]
  }
]